*.o
devcontainer/sanity/sanity.elf

kernel/src/
kernel/build/
kernel/initrd.cpio

init/target/
kms/target/

boot/limine-binary/

out/

terminal/ghostty-src/
terminal/vendor/
terminal/sanity/libghostty_vt_check
terminal/sanity/stb_truetype_check

terminal/zig-out/
terminal/zig-pkg/
terminal/.zig-cache/

*.ppm
*.png
